# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.dSYM
*.o
*.d
*.mtb
*.a
*.dpp
*.test
*.pprog
*.prof
*.pprof
*.out
vendor
bin
dist/*
coverage.txt
*~
*#
*.#*
*.DS_Store
*.swp
.secrets
out
.idea/*
